@import "tailwindcss";

@theme inline {
  --color-blue-900: #090d56;
  --color-blue-800: #3a3d78;
  --color-blue-600: #6b6e9a;
  --color-blue-400: #9d9ebc;
  --color-blue-200: #cecfdd;
  --color-blue-100: #e6e7ee;

  --color-beige-100: #f9f4eb;
  --color-beige-200: #f1e4cd;

  --color-green-500: #62bb47;
  --color-yellow-500: #fcb828;
  --color-orange-500: #f6821e;
  --color-red-500: #e1393e;
  --color-purple-500: #963e97;
  --color-cyan-500: #009ddd;

  --background-image-dither: url(/images/bg-1@2x.png);

  --font-family-handjet: var(--font-handjet);
  --font-family-space-grotesk: var(--font-space-grotesk);
}
